html{
    scroll-behavior: smooth;
}

body {
    background-image: url('https://i.pinimg.com/originals/71/0d/2e/710d2ecd348c3c7064a8380935cf3420.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-size:cover;
    background-attachment: fixed;
}

.image-container {
    width: 100%;
    max-width: 600px;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;

}

@media (max-width: 600px) {
    .image-container {
        padding: 5px;
    }
    img {
        margin-bottom: 5px;
    }
}


/* @keyframes moved {
    1%{
        transform: translate(100%);
    }
} */
